DATABASE_URL=postgres://user:password@localhost:5432/treetment
LEPTOS_OUTPUT_NAME=treetment
LEPTOS_SITE_ROOT=target/site
LEPTOS_SITE_PKG_DIR=pkg
LEPTOS_SITE_ADDR=127.0.0.1:3000
LEPTOS_RELOAD_PORT=3001
